@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar.js */
.github-icon:hover,
.navbar-text:hover {
  color:#D9FAFA;
}

.navbar-hamburger:hover,
.navbar-logo:hover {
  filter:brightness(1.2);
}

/* chakra-ui breakpoints
  (they use @media(min-width) internally)
  sm: '30em', 480px   mobile
  md: '48em', 768px   mobile
  lg: '62em', 992px   tablet, laptop
  xl: '80em', 1280px  desktop (magnified)
  2xl: '96em', 1536px fhd, qhd (default environment)
  above: < 1537px     4k
  e.g.,
  props={[sm, md, lg, xl, 2xl, above]}
} */


/* sm */
@media only screen and (max-width: 480px) {

}

/* md */
@media only screen and (min-width: 768px) {

}

/* lg */
@media only screen and (min-width: 992px) {
  .applicant-svg-desktop {
    width: 70%;
  }
}

/* xl and above */
@media only screen and (min-width: 1280px) {
  #applicant-svg-desktop {
    width: 85%;
  }
}

#applicant-svg-desktop {
  width: 100%;
}


/* modal button */

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000ea;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 99;
}

.modal {
  background-color: #344154Ea;
  width: clamp(50%, 650px, 90%);
  height: clamp(60%, 400px, 90%);
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100; 
}

.modal-button {
  background-image: linear-gradient(40deg, #D9AFD9 0%, #97D9E1 100%);
  font-size: 1rem;
  padding: 5px 15px;
  margin: 0 auto auto 0;
  border-radius: 7px;
  color: #101111;
  font-family: 'Noto Sans JP', sans-serif;
}

.close-button {
  background-image: linear-gradient(240deg, #fdfea6 0%, #f68084 70%);
  margin-left: Auto;
  margin-right: 1px;
  margin-top: 5px;
  color: #454545;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}